.mapa {
    width: fit-content;
    border: 1px solid black;
    margin: 0 auto;
}

.casillas {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    font-size: clamp(16px, 1vw + 1vh, 40px);
}

.casillas:hover {
    opacity: 0.5;
}